/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
  --lightblue: #00ffff;
}

/* Use attribute selectors for the first part of the exercise */

/*li[class] {
  color: var(--red);
}*/

li[class*="do"] {
  color: var(--royalblue);
}

li[class$="og"] {
  color: var(--magenta);
}

#cat {
  color: var(--lightblue);
}
li[class^="p"] {
  color: var(--green);
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}

.first ~ li {
  color: var(--magenta);
}

.second + li {
  color: var(--royalblue);
}
